body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #a97a14;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

section {
    padding: 20px;
    margin: 20px;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    width: 30%;
    box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}