body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin: auto;
    padding: auto;
    background-color: #d0a2697c;
}

header {
    background-color: #f8f8f8;
    color: rgb(255, 255, 255);
    padding: 10px 0;
}

.logo-container {
    text-align: center;
}

.logo {
    width: 250px;
    height: auto;
    padding-left: 600px;
    
}

header nav ul {
    list-style: none;
    text-align: center;
    display: inline-block;
}

header nav ul li {
    display: inline;
    margin: 0 50px;
    
}

header nav ul li a {
    color: #a97a14;
    text-decoration: none;
}

nav a:hover {
    background-color: #a97a14;
    color: #000000;
}


.icon {
    width: 80px;
    padding-top: 10px;
}

.haircutimage {
    width: 1600px;
    opacity: 40%;
    
}


section {
    padding: 20px;
    margin: 20px;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.button {
    padding: 10px 20px;
    background-color: #a97a14;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    width: 30%;
    box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: white;
}


/* Dropdown Button */
.dropbtn {
    background-color: #a97a14;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 24px;
    border: none;
    border-radius: 5px;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ffffff;}